body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: #212121;
  font-size: 14px;
}

:root {
  --accent-color: #2196f3;
  --text-grey-color: #757575;
  --text-white-color: #ffffff;
  --bgraund-grey-color: #2f303a;
}

.header {
  background: white;
}

/* components */

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.list-menu,
.list-contact,
.list-contact-footer {
  list-style: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-services,
.header-our-team {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.list-our-team .header-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.list-our-team .text {
  color: var(--text-grey-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.list-specifics .header-item {
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.list-specifics .text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-grey-color);
}

.address-footer {
  font-style: normal;
}

.list-contact .link {
  color: var(--text-grey-color);
}

.list-menu .link {
  color: #212121;
}

.list-menu .current {
  color: var(--accent-color);
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}

.logo-white {
  color: white;
}

.logo-black {
  color: black;
}
.but-studio {
  border: none;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.text-but-studio {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-white-color);
}

/*order_service*/

.order-service {
  background: var(--bgraund-grey-color);
}

.order-service-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-white-color);
}

/* footer */

.webstudio-footer {
  background: var(--bgraund-grey-color);
}

.list-contact-footer .link {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.list-contact-footer .address {
  color: var(--text-white-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

/* buttons */

.but-portfolio {
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.text-but-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.but-portfolio:hover,
.but-portfolio:focus {
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
}
.text-but-portfolio:hover,
.text-but-portfolio:focus {
  color: var(--text-white-color);
}

/* portfolio */

.list-potrtfolio .header-item {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.list-potrtfolio .text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-grey-color);
}
